<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <experienceAccelerator>
      <multisite>
        <htmlCacheClearer>
          <sourceDatabase>web</sourceDatabase>
        </htmlCacheClearer>
      </multisite>
    </experienceAccelerator>
    <events>
      <event name="publish:end:remote">
        <handler patch:instead="*[@type='Sitecore.XA.Foundation.Multisite.EventHandlers.HtmlCacheClearer, Sitecore.XA.Foundation.Multisite']" type="Sitecore.Support.XA.Foundation.Multisite.EventHandlers.HtmlCacheClearer, Sitecore.Support.328451" method="OnPublishEndRemote" />
      </event>
    </events>
  </sitecore>
</configuration>
